body {
  font-family: Courier New;
  background-color: rgb(4, 117, 0);
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  background-color: rgb(32, 0, 148);
  padding: 10px;
}

#fav-starter {
	color: rgb(0, 74, 170);
	background-color: rgb(5, 255, 80);
}

.caption{
  color:white;
}

#para{
  color:white;
}